@page "/Login"
@using AuthPage.Abstractions
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<Container>
    <Row>
        <Column>
            <Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged" Pills FullWidth>
                <Items>
                    <Tab Name="login">Авторизация</Tab>
                </Items>
                <Content>
                    <TabPanel Name="login">
                        <Card>
                            <CardBody>
                                <CardTitle>
                                    
                                </CardTitle>
                            </CardBody>
                            <CardBody>
                                <Validations @ref="@loginValidationsRef" Mode="ValidationMode.Manual" ValidateOnLoad="false">
                                    <Validation Validator="ValidationRule.IsNotEmpty">
                                        <Field>
                                            <FieldLabel>Email</FieldLabel>
                                            <TextEdit @bind-Text="@email" Placeholder="Введите почту">
                                                <Feedback>
                                                    <ValidationNone>Введите почту. </ValidationNone>
                                                    <ValidationSuccess>Добро пожаловать!</ValidationSuccess>
                                                    <ValidationError>Введите корректный адрес почты</ValidationError>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Validation Validator="ValidationRule.IsNotEmpty">
                                        <Field>
                                            <FieldLabel>Пароль</FieldLabel>
                                            <TextEdit @bind-Text="@password" Placeholder="Введите пароль.." />
                                        </Field>
                                    </Validation>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="@rememberMe">Запомнить меня</Check>
                                    </Field>
                                </Validations>
                            </CardBody>
                            <CardBody>
                                <Button Color="Color.Primary" Clicked="@OnLoginClicked">Войти</Button>
                            </CardBody>
                        </Card>
                    </TabPanel>
                </Content>
            </Tabs>
        </Column>
    </Row>
</Container>

@code {
    Validations loginValidationsRef;
    Validations registerValidationsRef;

    string error;

    string selectedTab = "login";

    string name;
    string email;
    string password;
    bool rememberMe;

    private bool loading;

    protected override void OnInitialized()
    {
        // redirect to home if already logged in
        if (AuthenticationService.User != null)
        {
            NavigationManager.NavigateTo("");
        }
    }

    private Task OnSelectedTabChanged(string name)
    {
        selectedTab = name;

        return Task.CompletedTask;
    }

    async Task OnLoginClicked()
    {
        if (await loginValidationsRef.ValidateAll())
        {
            loading = true;
            try
            {
                #if DEBUG
                await AuthenticationService.Login(email, password);
                var returnUrl =  "/";
                NavigationManager.NavigateTo(returnUrl);
                #endif
            }
            catch (Exception ex)
            {
                error = ex.Message;
                loading = false;
                StateHasChanged();
            }
            //await loginValidationsRef.ClearAll();
        }
    }
}